{%  extends "Post/CREATEBASE.html" %}
{% load crispy_forms_tags %}



{% block content %}
{% include 'snippets/requirements/bootstrapLibRequirements.html' %}
<style>
	.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
</style>
<!-- <nav class="navbar">
<ul class="nav navbar-nav navbar-center">
	<li><a href="#"><h2>Navbar</h2></a></li>
	
</ul>
</nav> -->

<div class=" container">
	<div class="row">
		<div class=" col s4 m4 l4">
			<form class="white-text" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form|crispy }}
				<div class="form-group">
					<button class="btn btn-outline-info" type="submit"> Post </button>
				</div>

			</form>
		</div>

	</div>

</div>
{% endblock content %}
